@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <br />
</div>


<div class="divOnlyCenter80">
    <p>
        These are sample pages we put together as we learn ASP.NET. Here is some info on what we used:
    </p>
    <ul>
        <li>Visual Studio for Mac Community version 8.10.18</li>
        <li>NET 5.0</li>
        <li>ASP.NET Core web application with Razor pages/cshtml</li>
    </ul>

    <p>
        Links to resources that provided the information needed to get these pages to work are provided on the individual pages.
    </p>

    <p>
        To do:
        <ul>
            <li>Create a github repo for this project.</li>
        </ul>
    </p>

</div>




