@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br />

<p>We do not collect, store, or distribute any of your personal information. Microsoft's Azure cloud probably saves normal server/service connection information but we don't control that.</p>

<p>Anything you may type into the sample forms may be saved in a test database, so only type what you do not mind being shown to the public. We empty these test databases at our own convenience.</p>
